*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300px;
    color: #2C2B2B;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 700px;
    color: #fff;
}

.header__top {
    padding: 47px 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone {
   font-weight: 400;
   font-size: 36px;
   line-height: 54px; 
}

.header__content {
    position: relative;
}

.header__title {
    font-size: 72px;
    font-weight: 400;
    line-height: 107px;
    padding-top: 60px;
    text-transform: uppercase;
}

.header__subtitle {
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    margin-bottom: 30px;
}

.header__text {
    margin-bottom: 30px;
    max-width: 800px;
}

.button {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 14px 54px 15px;
    background-color: #5A0D67;
}

 .header__social {
    padding: 70px 0 20px 65px;
    display: flex;
    align-items: center;
} 

.header__social-link {
    margin-right: 10px;
}

.header__images {
    position: absolute;
    right: 0;
    bottom: -270px;
}