*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 27px;
    font-weight: 300px;
    color: #2C2B2B;
}

.header {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 700px;
    color: #fff;
}